@media screen and (max-width : 576px) {
    .nav-container{
        flex-direction: column;
    }
.nav-menu{
    flex-direction: column;
    margin-bottom: 30px;
}

/* *Section 1  */
.sec1-container{
    flex-direction: column-reverse;
    justify-content: center;
   
}
.sec1-text{
    width: 100%;
    
}
.sec1-img{
    width: 100%;
}
.sec1-btn-con {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-around;
}


/* *================ */

/* *Section 2  */
.sec2-container{
    flex-direction: column;
    justify-content: center;
}
.sec2-text{
    text-align: center;
    width: 100%;
}
.sec2-img{
    width: 100%;
}
.sec2-text h2{
    text-align: center;
}
.sec2-text p{
    text-align: center;
}
/* *================ */

/* *Section 3  */
.sec3-container{
    flex-direction: column;
   justify-content: center;
   text-align: center;
}
.sec3-item{
    width: 100%;
   
}
.sec3-item img{
    width: 350px;
}
.sec3-container p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px; /* 150% */
}

/* *================ */

/* *Section 4  */
.sec4-container{
    flex-direction: column;
   justify-content: center;
   text-align: center;
}
.sec4-text{
    width: 100%;
}
.sec4-img-container{
    width: 100%;
}
.sec4-h2-1{
    text-align: center;
}
.sec4-h2-2{
    text-align: center;
}
.sec4-text p{
    text-align: center;
}
/* *================ */

/* *Section 5  */
/* *================ */

/* *Section 6  */
.sec6-container{
    flex-direction: column;
}
.sec6-text{
    width: 90%;
    padding: 0px 0px;
    padding-left: 0px;
    }
    .sec6-img{
        width: 100%;
    }
    .sec6-text h2{
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px; /* 125% */
    }
    .sec6-text p{
        color: #FFF;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px; /* 166.667% */
    }
    .sec6-text button{
        border-radius: 18px;
        background: #FFF;
      
    padding: 3px 5px;
  font-size: 8px;
    gap: 1px;
    border: none;
    font-weight: 400;
    color: #FF42A5;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/* *================ */

/* *Section 7  */
/* *================ */
}