
/* *Common shared style */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
overflow-x: hidden;
}
.text-color-primary{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* *============================================== */


/* *Nav  */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    max-width: 1024px;
    margin: 0 auto;
    
}
.nav-container{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.gamer-g{
    color: #FF42A5;
}
.gamer{
    text-align: center;
font-size: 45px;
font-weight: 700;
}
.nav-menu p{
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
}
.nav-btn{
    background: rgba(11, 2, 35, 0.10);  
    border: none;
    padding:10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.nav-btn > .fa-brands{
font-size: 15px;
padding: 5px;
}
#youtube{
    color: red;
}
#tiktok{
    color: #0B0223;
}

/* *============================================== */

/* *Section 1  */
.sec1{
    max-width: 1024px;
    margin: 0 auto;
}
.sec1-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.sec1-text{
    width: 50%;
}
.sec1-img{
    width: 50%;
}
.sec1-img img{
width: 100%;
}
.sec1-text h2{
    color: #0B0223;
font-size: 48px;
font-weight: 600;
margin-bottom: 5px;
text-transform: uppercase;
margin-top: 10px;
}
.sec1-text h1{
    margin-top: 0;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
margin-bottom: 15px;
}
.sec1-text p{
    color: #534C64;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.sec1-btn-con{
    display: flex;
    justify-content: baseline;
    gap: 20px;
}
.btn1{
    border-radius: 48px;
background: #FF42A5;
padding: 21px 40px;
gap: 10px;
color: white;
font-size: 20px;
font-weight: 600;
border: none;
text-transform: uppercase;
}
.btn2{
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
text-transform: uppercase;
padding: 21px 40px;
gap: 10px;
color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}

/* *========================== */

/* *Section 2  */
.sec2{
    max-width: 1024px;
    margin: 0 auto;
    
}
.sec2-container{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
}
.sec2-img{
width: 50%;
}
.sec2-img img{
    width: 100%;
}
.sec2-text{
    width: 50%;
    text-align: end;
}
.sec2-text h2{
    text-align: right;
font-size: 48px;
font-weight: 700;
}
.sec2-text p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.sec2-text button{
    border-radius: 48px;
    background: #FF42A5;
    padding: 21px 40px;
    gap: 10px;
    color: white;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
}
.purpose{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}
.sec2-text h3{
    color: #534C64;
    font-size: 31px;
    font-weight: 700;
    line-height: 45px;
}

/* *=================== */

/* *Section 3  */
.sec3{
    max-width: 1024px;
    margin: 0 auto;
}
.sec3 > h2{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.sec3 > p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.sec3-container{
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
margin-top: 20px;
}
.sec3-item{
    width: 25%;
}
.sec3-container img{
    width: 100%;
}
.sec3-container p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
.sec3-hover{
    position: relative;
}
.hover-item > li{
    font-size: 30px;
    list-style: none;
}
.hover-item > p{
    text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
color: #FF42A5;
}
.hover-item{
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: black;
    opacity: 0.8;
    width: 100%;
  border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    visibility: hidden;
}
.sec3-hover:hover .hover-item{
    visibility: visible;
}


/* *=================== */

/* *Section 4  */
.sec4{
    max-width: 1024px;
    margin: 0 auto;
}
.sec4-container{
    margin-top: 20px;
    display: flex;justify-content: space-between;
    align-items: center;
}
.sec4-text{
width: 45%;
}
.sec4-h2-1{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    color: #FF42A5;
    margin-bottom: 5px;
    line-height: 60px; /* 125% */
}
.sec4-h2-2{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    margin-top: 5px;
    line-height: 60px; /* 125% */
}
.sec4-text p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.sec4-img-container{
    width: 45%;
    height: 100%;
   
}
.sec4-main-img{
    height: 400px;
    width: 100%;
   
    position: relative;
}
.sec4-main-pic{
   overflow-y: hidden;
    height: 350px;
    width: 350px;
    position: absolute;
    right: 0px;
}
.sec4-main-pic img{
    width: 100%;
}
.sec4-float-pic{
   
    height: 180px;
    width: 180px;
    position: absolute;
bottom: 20px;
overflow-y: hidden;
}
.sec4-float-pic img{
    width: 100%;
}

/* *=================== */

/* *Section 5  */
/* *=================== */


/* *Section 6  */
.sec6{
    margin-top: 50px;
    background-color: #FF42A5;
}
.sec6-container{
    background-color: #FF42A5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec6-text{
width: 45%;
padding: 50px 0px;
padding-left: 100px;

}
.sec6-text h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.sec6-text p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.sec6-p-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec6-p-1{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px; /* 200% */
}
.sec6-p-2{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px; /* 200% */
}
.sec6-text button{
    border-radius: 48px;
    background: #FFF;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;
font-weight: 600;
color: #FF42A5;
text-transform: uppercase;
}
.sec6-img{
    width: 55%;
}
.sec6-img img{
    width: 100%;
}
/* *=================== */

/* *Section 7  */
.sec7{
    max-width: 1024px;
    margin: 0 auto;
}
.sec7-container{
    margin: 50px 0px;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.sec7-item{
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 2px 5px;
    text-align: center;
    border-radius: 50px;
background: #FFF;
border: 1px solid transparent;
}
.sec7-item:hover{
    border: 1px solid #FF42A5 ;
    cursor: pointer;
    color: #FF42A5;
}
.sec7-item p:hover{
color: #FF42A5;
}
.sec7-item img{
    width: 40px;
}
.sec7-item p{
    color: #0B0223;
font-size: 15px;
font-weight: 600;
}
/* *=================== */


/* *footer */
footer{
    background: #0B0223;
}
.footer-container{
    max-width: 800px;
    margin: 0 auto;
}
.footer-logo{
   padding-top: 50px;
   padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.game{
    color: white;
    text-align: center;
font-size: 45px;
font-weight: 700;
}
.footer-main-p{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    align-items: center;
    
}
.footer-main-p p{
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0px;
    gap: 20px;
}
.fa-brands{
    color: white;
    font-size: 40px;
}
.footer-2nd-p{
    display: flex;
    justify-content:center ;
    gap: 30px;
    padding-bottom: 20px;
}
.footer-2nd-p p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.last-p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500; 
    padding-bottom: 50px; 
}
.footer-icon > li{
    list-style: none;
}
/* *==================== */